<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homePage/styles.css"/>
  {{!-- <link rel="icon" href="/img/weather.png"> --}}
  <script src="https://kit.fontawesome.com/fdf00391bb.js" crossorigin="anonymous"></script>
  <title>Rancid Tomatillos</title>
</head>
<body>
  {{>header}}
  <main class="movies">

    <h2>Welcome to {{title}}</h2>

    <section>
      <h3>Search for Movie Recommendations</h3>
      <p>Enter the title of a movie to explore similar titles.</p>

      <form>
        <input
          id="movie-search"
          name="movie-search"
          placeholder="Movie Title"
          autocomplete="off"
          required
        >
        <button type="submit">Search</button>
      </form>
    </section>

    <section class="popular">
      <h3 class="popular__title">Popular Titles</h3>

      <button class="popular__prev">&lt;</button>
      <div class="popular__posters-wrapper">
        <div class="popular__posters">
          {{!-- Populate popular movies here --}}
        </div>
      </div>
      <button class="popular__next">&gt;</button>
    </section>

  </main>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>
</html>