<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homePage/styles.css"/>
  <link rel="icon" href="/img/icon.png">
  <script src="https://kit.fontawesome.com/fdf00391bb.js" crossorigin="anonymous"></script>
  <title>Rancid Tomatillos</title>
</head>
<body>
  {{>header}}
  <main class="movies">

    <h2 class="movies__title">Welcome to {{title}}</h2>

    <section class="search">
      <h3 class="search__title">Find Movie Recommendations</h3>
      <p class="search__txt">Enter a movie title to discover similar films you might enjoy.</p>

      <form class="search-form" aria-label="Movie search form">
        <input
          id="movie-search"
          class="search-form__input"
          name="movie-search"
          placeholder="Movie Title"
          autocomplete="off"
          required
        >
        <button type="submit" class="search-form__btn">Search</button>
      </form>
    </section>

    <section class="results">
      <h3 class="results__title"></h3>
      <p class="results__message">{{!-- Loading and error message here --}}</p>
      <div class="results__wrapper">
        {{!-- Display search results here --}}
      </div>
    </section>

    <section class="popular">
      <h3 class="popular__title">Top Rated Titles</h3>
      <p class="popular__message">{{!-- Error message here --}}</p>

      <button class="popular__prev" aria-label="Previous movies">
        <i class="fa-solid fa-circle-arrow-left fa-2xl" aria-hidden="true"></i>
      </button>
      <div class="popular__posters-wrapper">
        <div class="popular__posters">
          {{!-- Populate popular movies here --}}
        </div>
      </div>
      <button class="popular__next" aria-label="Next movies">
        <i class="fa-solid fa-circle-arrow-right fa-2xl" aria-hidden="true"></i>
      </button>
    </section>

  </main>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>
</html>