<footer class="footer">
  <p class="footer__body">Created by {{name}}</p>

  <div class="footer__links">
    <a href="https://www.linkedin.com/in/reneemessersmith/" aria-label="LinkedIn">
      <i class="fa-brands fa-linkedin fa-2xl"></i>
    </a>
    <a href="https://github.com/reneemes" aria-label="GitHub">
      <i class="fa-brands fa-github fa-2xl"></i>
    </a>
  </div>
</footer>