<header class="header">
  <h1 class="header__title">{{title}}</h1>

  <nav class="header__nav">
    <a href="/" class="{{isActive activePage '/'}}">
      Movies
    </a>
    <a href="/about" class="{{isActive activePage '/about'}}">
      About
    </a>
  </nav>
</header>
