$primary-color: #8A1C23;
$secondary-color: #163420;
// $cream-color: #F0F2D8;
$cream-color: #f1f2ec;
$light-green-color: #85B79D;
$bright-red-color: #DC3B44;

$font: "Roboto Condensed", sans-serif;


body {
  display: flex;
  flex-direction: column;
  font-family: $font;
  margin: 0;
  min-height: 100vh;
}

.about {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  // &__title {
  //   font-size: 2.5rem;
  //   color: $secondary-color;
  // }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;

  &__title {
    color: $cream-color;
    font-size: 3rem;
    text-shadow: 4px 3px 0px $secondary-color;
    margin-left: 20px;
  }

  &__nav {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;

    a {
      border-radius: 8px 8px 0 0;
      color: $cream-color;
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 16px;

      &:hover {
        background-color: $bright-red-color;
      }

      &.active {
        color: #163420;
        background-color: white;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $light-green-color;

  &__body {
    padding: 16px;
  }

  &__links {
    display: flex;
    align-items: center;
    padding: 16px;

    a {
      color: black;
    }
  }
}

.about-info {
  text-align: center;
  max-width: 70%;

  &__title {
    font-size: 2.5rem;
    color: $secondary-color;
  }
}

.about-faq {
  max-width: 70%;
  margin-bottom: 40px;

  &__title {
    text-align: center;
    color: $secondary-color;
    font-size: 1.75rem;
  }

  &__question {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__body {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: baseline;
  }
}