$primary-color: #8A1C23;
$secondary-color: #163420;
// $cream-color: #F0F2D8;
$cream-color: #f1f2ec;
$light-green-color: #85B79D;
$bright-red-color: #DC3B44;

$font: "Roboto Condensed", sans-serif;


body {
  display: flex;
  flex-direction: column;
  font-family: $font;
  margin: 0;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;

  &__title {
    color: $cream-color;
    font-size: 3rem;
    text-shadow: 4px 3px 0px $secondary-color;
    margin-left: 20px;
  }

  &__nav {
    display: flex;
    // justify-content: space-around;
    // align-items: center;
    align-items: flex-end;
    margin-right: 20px;

    a {
      border-radius: 8px 8px 0 0;
      color: $cream-color;
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 16px;

      &:hover {
        background-color: $bright-red-color;
      }

      &.active {
        color: #163420;
        background-color: white;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $light-green-color;

  &__body {
    padding: 16px;
  }

  &__links {
    display: flex;
    align-items: center;
    padding: 16px;

    a {
      color: black;
    }
  }
}